<ion-header>
  <ion-toolbar>
    <ion-button left (click)="dashboard()">
      Back
    </ion-button>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="setting">
    <ion-button expand="full" (click)="changePassword()">Change Password</ion-button>
    <div *ngIf="change">
      <ion-item>
        <ion-label position="floating" color="primary">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Old Password</ion-label>
        <ion-input type="password" [(ngModel)]="oldPassword"></ion-input>
      </ion-item>

      <form [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">

        <div formGroupName="matching_passwords">
          <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating" color="primary">Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.confirm_password">
              <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>
        <!-- These validations are for the form group -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.matching_passwords">
            <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>


        <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid">Submit data</ion-button>
      </form>
    </div>

    <br>
    <br>
    <ion-button expand="full" (click)="logout()">Logout</ion-button>
    <ion-button expand="full" (click)="clearEverything()">CLEAR ALL APP DATA!</ion-button>
  </div>
</ion-content>
